<div class="card mb-3">
    <div class="card-header">
        <h2 class="card-title">Recipe: {% if page.recipe.name %}{{ page.recipe.name }}{% else %}{{ page.title }}{% endif %}</h2>
        <h5 class="card-subtitle text-muted">{% if page.recipe.style %}{{ page.recipe.style %}}{% endif %}</h5>
    </div>
    <div class="card-body bg-body-tertiary">
        <table class="card-text table table-striped-columns table-sm">
            <tbody>
                <tr>
                    <th>Type</th><td>{{ page.recipe.type }}</td>
                    <th>Batch Size</th><td>{{ page.recipe.size }}</td>
                </tr>
                <tr>
                    <th>Boil Time</th><td>{{ page.recipe.boil_time }}</td>
                    <th>Est. Efficiency</th><td>{{ page.recipe.efficiency }}</td>
                </tr>
                <tr>
                    <th>Est. Original Gravity</th><td>{{ page.recipe.est_og }}</td>
                    <th>Est. Final Gravity</th><td>{{ page.recipe.est_fg }}</td>
                </tr>
                <tr>
                    <th>Est. Color</th><td>{{ page.recipe.color }}</td>
                    <th>Est. IBU</th><td>{{ page. recipe.ibus }}</td>
                </tr>
                <tr>
                    <th>Est. ABV</th><td>{{ page.recipe.est_abv }}</td>
                </tr>
            </tbody>
        </table>

        <h4 class="card-title">Fermentables</h4>
        <table class="card-text table table-sm">
            <thead>
                <th>Name</th><th>Amount</th><th>%</th>
            </thead>
            <tbody>
                {%- for fermentable in page.recipe.fermentables -%}
                <tr>
                    <td> {{fermentable.name}}</td><td>{{fermentable.amount}}</td><td>{{fermentable.perc}}</td>
                </tr>
                {%- endfor -%}
            </tbody>
        </table>

        <h4 class="card-title">Mash</h4>
        <table class="card-text table table-sm">
            <thead>
                <th>Step</th><th>Strike Temp</th><th>Amount</th><th>Target Temp</th><th>Time</th>
            </thead>
            <tbody>
                {% for step in page.recipe.mash -%}
                <tr>
                    <td>{{ step.name }}</td><td>{{ step.strike_temp }}</td><td>{{ step.amount }}</td><td>{{ step.target_temp }}</td><td>{{ step.time }}</td>
                </tr>
                {% endfor -%}
            </tbody>
        </table>

        {% if page.recipe.sparge %}
        <h4 class="card-title">Sparge</h4>
        <p class="card-text">{{ page.recipe.sparge }}</p>
        {% endif %}

        <h4 class="card-title">Boil</h4>
        <table class="card-text table table-sm">
            <thead>
                <th>Name</th><th>AA%</th><th>Amount</th><th>Type</th><th>Time</th><th>IBUs/%</th>
            </thead>
            <tbody>
                {% for hops in page.recipe.hops -%}
                <tr>
                    <td>{{ hops.name }}</td>
                    <td>{% if hops.aa %}{{hops.aa}}{%else%}-{%endif%}</td>
                    <td>{{ hops.amount }}</td>
                    <td>{{ hops.type }}</td>
                    <td>{{ hops.time}}</td>
                    <td>{% if hops.ibu %}{{ hops.ibu }}{% else %}{%if hops.perc%}{{hops.perc}}{%else%}-{%endif%}{%endif%}</td>
                </tr>
                {% endfor -%}
            </tbody>
        </table>

        <h4 class="card-title">Fermentation</h4>
        <table class="card-text table table-sm">
            <tbody>
                <tr><th>Yeast</th><td>{{ page.recipe.yeast }}</td></tr>
                <tr><th>Fermentation</th><td>{{ page.recipe.ferm_time }} @ {{ page.recipe.ferm_temp }}</td></tr>
            </tbody>
        </table>

        <h4 class="card-title">Packaging</h4>
        <table class="card-text table table-sm">
            <tbody>
                <tr><th>Type</th><td>{{ page.recipe.package_type }}</td></tr>
                <tr><th>Date</th><td>{{ page.recipe.package_date }}</td></tr>
                <tr><th>Carbonation</th><td>{{ page.recipe.carb_priming }}</td></tr>
            </tbody>
        </table>

        <h4 class="card-title">Final Results</h4>
        <table class="card-text table table-sm">
            <tbody>
                <tr><th>Original Gravity</th><td>{{ page.recipe.og }}</td></tr>
                <tr><th>Final Gravity</th><td>{{ page.recipe.fg }}</td></tr>
                <tr><th>ABV %</th><td>{{ page.recipe.abv }}</td></tr>
            </tbody>
        </table>

        {%- if page.recipe.notes -%}
        <h4 class="card-title">Notes</h4>
        <p class="card-text">{{ page.recipe.notes | markdownify }}</p>
        {%- endif -%}
    </div>
</div>