<footer class="text-center text-lg-start bg-dark-subtle text-muted border-top">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="mb-4 fw-bold">{{ site.title | escape }}</h6>
          <p>{{ site.author | escape }}</p>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="mb-4 fw-bold">&nbsp</h6>
          {%- include social.html -%}
        </div>
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="mb-4 fw-bold">&nbsp</h6>
          <p>{{- site.description | escape -}}</p>
        </div>
      </div>
    </div>
  </section>
</footer>
