---
layout: default
---
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-lg-8">
      <h1 class="" itemprop="name headline">{{ page.title | escape }}</h1>
      <time class="badge bg-secondary mb-4" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>

      {%- if page.images -%}
      <div id="postImagesCarousel" class="carousel slide col-xl-8 mx-auto mb-3">
        <div class="carousel-indicators">
          {%- assign act = "active" -%}
          {% for img in page.images %}
          <button type="button" data-bs-target="#postImagesCarousel" data-bs-slide-to="{{forloop.index0}}" class="{{act}}"></button>
          {%- assign act = "" -%}
          {% endfor %}
        </div>
        <div class="carousel-inner">
          {%- assign act = "active" -%}
          {% for img in page.images %}
          <div class="carousel-item {{ act }}">
            <img src="{{ img.src | relative_url }}" class="d-block w-100">
            {%- if img.desc -%}
            <div class="carousel-caption d-block">
              <h6>{{ img.desc }}</h6>
            </div>
            {%- endif -%}
          </div>
          {%- assign act = "" -%}
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#postImagesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#postImagesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      {%- endif -%}
      
      <div class="" itemprop="articleBody">
        {{ content }}
      </div>

      {%- if page.recipe and page.brew_type == "beer" -%}{%- include beer-recipe.html -%}{%- endif -%}
    </div>
  </div>
</div>